<!-- theodul controls plugin desktop mode -->
<% if((typeof plugin_path !== "undefined")
   && (typeof logoLink !== "undefined")
   && (typeof str_prevChapter !== "undefined")
   && (typeof str_nextChapter !== "undefined")
   && (typeof str_playPauseVideo !== "undefined")
   && (typeof str_playVideo !== "undefined")
   && (typeof str_pauseVideo !== "undefined")
   && (typeof str_volumeSlider !== "undefined")
   && (typeof str_muteVolume !== "undefined")
   && (typeof str_unmuteVolume !== "undefined")
   && (typeof str_message_inputField !== "undefined")
   && (typeof str_totalVideoLength !== "undefined")
   && (typeof str_openMediaModule !== "undefined")
   && (typeof str_playbackRateButton !== "undefined")
   && (typeof str_playbackRate !== "undefined")
   && (typeof str_remainingTime !== "undefined")
   && (typeof str_embedButton !== "undefined")
   && (typeof str_fullscreen !== "undefined")) { %>
<div id="navigation_wrapper">
    <!-- ##### Slider ##### -->
    <div id="slider" role="progressbar"></div>
    <div id="segment_wrapper">
        <% if((typeof durationMS !== "undefined") && (typeof segments !== "undefined") && (segments.length > 0)) { var i = 0; %>
        <% _.each(segments, function(segment) { %>
        <div id="segment_<%= i %>" class="segment" style="width: <%= parseFloat(Math.floor(((segment.duration) / durationMS * 100) * 100) / 100).toFixed(2) %>%">
            <span id="segment_<%= i %>_span" class="segmentspan"><%= segment.time %></span>
        </div>
        <% ++i; }); %>
        <% } %>
    </div>
    <div class="clear"></div>
    <div class="timeline_preview_container">
        <canvas id="timeline_preview_canvas" class ="timelinePreview">
            <img id="timeline_preview_canvas_img">
        </canvas>
    </div>
    <div id="navigation_control">
        <div id="backward_button" class="controlbutton" role="button" aria-label="<%= str_prevChapter %>">
            <img src="<%= plugin_path %>images/backward.png" aria-label="<%= str_prevChapter %>" title="<%= str_prevChapter %>" alt="<%= str_prevChapter %>" />
        </div>
        <div id="playpause_controls" class="controlbutton" role="button" aria-label="<%= str_playPauseVideo %>">
            <img id="play_button" class="playpause_btn" src="<%= plugin_path %>images/play.png" aria-label="<%= str_playVideo %>" title="<%= str_playVideo %>" alt="<%= str_playVideo %>" />
            <img id="pause_button" class="playpause_btn" style="display: none;" src="<%= plugin_path %>images/pause.png" aria-label="<%= str_pauseVideo %>" title="<%= str_pauseVideo %>" alt="<%= str_pauseVideo %>"  />
        </div>
        <div id="forward_button" class="controlbutton" role="button" aria-label="<%= str_nextChapter %>">
            <img src="<%= plugin_path %>images/forward.png" aria-label="<%= str_nextChapter %>" title="<%= str_nextChapter %>" alt="<%= str_nextChapter %>" />
        </div>
        <div class="clear"></div>
    </div>
    <div id="volumeSlider" role="slider" aria-label="<%= str_volumeSlider %>"></div>
    <div class="volume_icon" id="volumeIcon">
        <img id="unmute_button" class="mute_btn" src="<%= plugin_path %>images/volume.png" role="button" aria-label="<%= str_muteVolume %>" title="<%= str_muteVolume %>" alt="<%= str_muteVolume %>" />
        <img id="mute_button" class="mute_btn" style="display: none;" src="<%= plugin_path %>images/volumeMuted.png" role="button" aria-label="<%= str_unmuteVolume %>" title="<%= str_unmuteVolume %>" alt="<%= str_unmuteVolume %>" />
    </div>
    <div id="navigation_time">
        <% if((typeof startTime !== "undefined") && (typeof duration !== "undefined")) { %>
        <input id="navigation_time_current" class="form-control" type="text" value="<%= startTime %>" role="timer" aria-label="<%= str_message_inputField %>" /><span id="navigation_time_current_overview"> / <span id="navigation_time_duration" aria-label="<%= str_totalVideoLength %> <%= duration %>"><%= duration %></span></span>
        <% } else { %>
        <input id="navigation_time_current" type="text" value="00:00:00" /><span> / <span id="navigation_time_duration">00:00:00</span></span>
        <% } %>
    </div>
    <% if((typeof controlsTop !== "undefined") && controlsTop) { %>
    <!-- ##### Logo ##### -->
    <div id="navigation_logo">
        <% if(typeof logoLink !== "undefined") { %>
        <a href="<%= logoLink %>" role="link" aria-label="<%= str_openMediaModule %>">
        <% } %>
        <img src="<%= logo %>" />
        <% if(typeof logoLink !== "undefined") { %>
        </a>
        <% } %>
    </div>
    <!-- ##### Navigation ##### -->
    <div id="menu">
        <% if (show_embed) { %>
        <div class="btn-group">
          <div class="btn-group">
            <button id="embed_button" class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown" aria-label="<%= str_embedButton %>">
              <span class="glyphicon glyphicon-share"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a id="embed0" role="menuitem" tabindex="-1" href="#"></a></li>
              <li role="presentation"><a id="embed1" role="menuitem" tabindex="-1" href="#"></a></li>
              <li role="presentation"><a id="embed2" role="menuitem" tabindex="-1" href="#"></a></li>
              <li role="presentation"><a id="embed3" role="menuitem" tabindex="-1" href="#"></a></li>
              <li role="presentation"><a id="embed4" role="menuitem" tabindex="-1" href="#"></a></li>
            </ul>
          </div>
        </div>
        <% } %>
      <% if((typeof loggedIn !== "undefined")
      && (typeof str_checkingStatus !== "undefined")
      && (typeof str_loginLogout !== "undefined")) { %>
        <div class="btn-group">
            <button id="dropdownMenuLoginInfo" class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown" role="button" aria-label="<%= str_loginLogout %>">
	        <span class="glyphicon glyphicon-user"></span>
		<span id="loggedInNotLoggedIn"><%= str_checkingStatus %></span>
		<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
		    <a id="loginlogout" role="menuitem" tabindex="-1" href="#">
		        <% if((typeof loggedIn !== "undefined") && !loggedIn) { %>
                        <span class="glyphicon glyphicon-log-in"></span>
			<% } else { %>
                        <span class="glyphicon glyphicon-log-out"></span>
			<% } %>
		        <span id="str_loginlogout"></span>
		    </a>
		</li>
            </ul>
	</div>
        <% } %>
    </div>
    <% } else { %>
        <div id="dropdownControlsButtons" class="btn-group dropup">
	  <% if((typeof hasqualities !== "undefined") && hasqualities
	     && (typeof str_qualityButton !== "undefined")
	     && (typeof str_quality !== "undefined")
	     && (typeof qualities !== "undefined")
       && (typeof translatedqualities !== "undefined")) { %>
            <div class="btn-group">
                <button id="dropdownMenuQuality" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-label="<%= str_qualityButton %>">
                <span class="glyphicon glyphicon-cog"></span>
                <span id="qualityIndicator"><%= str_quality %></span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li class="disabled" role="presentation"><a id="qualityDescription" role="menuitem" tabindex="-1" href="#"><b><%= str_quality %></b></a></li>
                    <li class="divider"></li>
                    <% for (var i = 0; i < qualities.length; i++) { %>
                    <li role="presentation"><a id="quality<%= qualities[i] %>" role="menuitem" tabindex="-1" href="#"><b><%= translatedqualities[qualities[i]] %></b></a></li>
                    <% } %>
                </ul>
            </div>
	    <% } %>
      <% if(!flash) { %>
            <div class="btn-group">
                <button id="dropDownZoomToggle" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-label="Zoom">
                <span class="glyphicon glyphicon-zoom-in"></span>
                <span id="zoomLevelIndicator">Zoom</span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li class="disabled" role="presentation"><a id="qualityDescription" role="menuitem" tabindex="-1" href="#"><b>Zoom</b></a></li>
                    <li class="divider"></li>
                    <li class="" role="presentation"><a id="resetZoom" role="menuitem" tabindex="-1" href="#"><b>Reset</b></a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a id="zoomLevel1" role="menuitem" tabindex="-1" href="#"><b>150%</b></a></li>
                    <li role="presentation"><a id="zoomLevel2" role="menuitem" tabindex="-1" href="#"><b>200%</b></a></li>
                    <li role="presentation"><a id="zoomLevel3" role="menuitem" tabindex="-1" href="#"><b>250%</b></a></li>
                </ul>
            </div>
      <% } %>
            <div class="btn-group">
                <button id="dropdownMenuPlaybackRate" class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown" role="button" aria-label="<%= str_playbackRateButton %>">
                <span class="glyphicon glyphicon-dashboard"></span>
                <span id="playbackRateIndicator">100%</span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li class="disabled" role="presentation"><a id="playbackDescription" role="menuitem" tabindex="-1" href="#"><b><%= str_playbackRate %></b> (<%= str_remainingTime %>)</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a id="playback075" role="menuitem" tabindex="-1" href="#"><b>75%</b> (<span id="playbackRemTime075"></span>)</a></li>
                    <li role="presentation"><a id="playback100" role="menuitem" tabindex="-1" href="#"><b>100%</b> (<span id="playbackRemTime100"></span>)</a></li>
                    <li role="presentation"><a id="playback125" role="menuitem" tabindex="-1" href="#"><b>125%</b> (<span id="playbackRemTime125"></span>)</a></li>
                    <li role="presentation"><a id="playback150" role="menuitem" tabindex="-1" href="#"><b>150%</b> (<span id="playbackRemTime150"></span>)</a></li>
                    <li role="presentation"><a id="playback200" role="menuitem" tabindex="-1" href="#"><b>200%</b> (<span id="playbackRemTime200"></span>)</a></li>
                    <li role="presentation"><a id="playback300" role="menuitem" tabindex="-1" href="#"><b>300%</b> (<span id="playbackRemTime300"></span>)</a></li>
                </ul>
            </div>
            <% if(hasmultiplevideos && (typeof pip_position !== "undefined")
             && (typeof str_layoutButton !== "undefined")
             && (typeof str_pictureInPicture !== "undefined")
             && (typeof str_left !== "undefined")
             && (typeof str_right !== "undefined")
             && (typeof str_beside !== "undefined")
             && (typeof str_off !== "undefined")) { %>
            <div class="btn-group">
                <button id="dropdownMenuLayout" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-label="<%= str_layoutButton %>">
                <span class="glyphicon glyphicon-film"></span>
                <span id="pipIndicator"><%= pip_position %></span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="disabled" role="presentation"><a id="pipDescription" role="menuitem" tabindex="-1" href="#"><b><%= str_pictureInPicture %></b></a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a id="pipLeft" role="menuitem" tabindex="-1" href="#"><%= str_left %></a></li>
                    <li role="presentation"><a id="pipRight" role="menuitem" tabindex="-1" href="#"><%= str_right %></a></li>
                    <li role="presentation"><a id="pipBeside" role="menuitem" tabindex="-1" href="#"><%= str_beside %></a></li>
                    <li role="presentation"><a id="pipOff" role="menuitem" tabindex="-1" href="#"><%= str_off %></a></li>
                </ul>
            </div>
            <% } %>
            <button id="captions_button" type="button" class="btn btn-default disabled" role="button">
              <span class="glyphicon glyphicon-subtitles"></span>
            </button>
            <button id="fullscreen_button" type="button" class="btn btn-default disabled" role="button" aria-label="<%= str_fullscreen %>">
            <span class="glyphicon glyphicon-fullscreen"></span>
            </button>
        </div>
    <% } %>
</div>
<% } %>
<!-- end Navigation -->
